.form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


.form input {
    width: 50%;
    padding: 8px;
    padding-left: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 1px gray;
    outline: none;
}

.form button {
    border: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    transition: all 0.5s;
}

.form button:hover {
    background-color: red;;
}

.form select {
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wordList {
   width: 60%;
   margin: auto;
   display: flex;
   flex-direction: column;
}

.word {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.word p {
    color: black;
    margin: auto;
}

.word p:first-child {
    margin-left: 10px;
}

.word p:last-child {
    margin-right: 10px;
}